{{ define "base" }}
  <!doctype html>
  <html lang="en" style="height: 100%;">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="htmx-config" content='{"allowNestedOobSwaps":false}' />
      <title>Estimate Work</title>
      <link
        rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔢</text></svg>"
      />
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
      />
      <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body style="display: flex; flex-direction: column; height: 100%;">
      <header class="container-fluid" hx-boost="true">
        <h1>
          <a href="/" style="text-decoration: none;" class="contrast">
            🔢 Estimate Work
          </a>
        </h1>
      </header>

      <main id="main" class="container" style="flex: 1 0 auto;">
        {{ template "main" . }}
      </main>

      <footer class="container-fluid" style="flex-shrink: 0;">
        <hr />
        <small style="opacity: 0.5;">
          Made by
          <a href="https://chiawei.ong" class="secondary" target="_blank"
            >Chiawei</a
          >
          <a
            href="https://github.com/weiliddat/estimate-work"
            class="secondary"
            target="_blank"
            >Source</a
          >
        </small>
      </footer>
    </body>
  </html>
{{ end }}
