{{ define "base" }}
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="htmx-config" content='{"allowNestedOobSwaps":false}' />
      <title>Document</title>
      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.jade.min.css"
      />
      <script src="https://unpkg.com/htmx.org@2.0.2"></script>
    </head>
    <body>
      <header>
        <div class="grid" style="align-items: baseline;">
          <div>
            <h1>
              <a
                href="/"
                hx-get="/"
                hx-push-url="true"
                hx-target="body"
                style="text-decoration: none;"
                class="contrast"
              >
                🔢 Estimate Work
              </a>
            </h1>
          </div>

          <div style="text-align: right;">
            <a href="/user">
              {{ if .User.Id }}
                {{ .User.Name }}
              {{ else }}
                Login
              {{ end }}
            </a>
          </div>
        </div>
      </header>

      <main id="main" class="container">
        {{ template "main" . }}
      </main>
    </body>
  </html>
{{ end }}
