{{ define "main" }}
  <section>
    <p>
      A <mark>free</mark> and <mark>ad-free</mark> tool to collaboratively
      estimate work.
    </p>
  </section>
  <section>
    {{ if and .Room .Room.Id }}
      <a
        href="/room/{{ .Room.Id }}"
        hx-boost="true"
        role="button"
        style="display: block;"
      >
        Previous Room:
        {{ if .Room.Name }}
          {{ .Room.Name }}
        {{ else }}
          {{ .Room.Id }}
        {{ end }}
      </a>
    {{ end }}
  </section>
  <section>
    <form action="/room" method="post" hx-boost="true">
      <input type="submit" value="New Room" class="outline" />
    </form>
  </section>
{{ end }}
