{{ define "main" }}
  <section>
    <p>
      A
      <em data-tooltip="as in beer, source, ad/tracker free">free</em> tool
      to collaboratively estimate work effort via consensus.
    </p>
  </section>
  <section>
    {{ if and .Room }}
      <a
        href="/room/{{ .Room.MachineId }}/{{ .Room.Id }}"
        hx-boost="true"
        role="button"
        style="display: block;"
      >
        Previous Room:
        {{ .Room.DisplayName }}
      </a>
    {{ end }}
  </section>
  <section>
    <form action="/room" method="post" hx-boost="true">
      <input type="submit" value="New Room" class="outline" />
    </form>
  </section>
{{ end }}
