{{ define "main" }}
  <section>
    {{ if .Room.Id }}
      <a
        href="/room/{{ .Room.Id }}"
        hx-get="/room/{{ .Room.Id }}"
        hx-push-url="true"
        hx-target="body"
        role="button"
        style="display: block;"
      >
        Previous Room:
        {{ if .Room.Name }}
          {{ .Room.Name }}
        {{ else }}
          {{ .Room.Id }}
        {{ end }}
      </a>
    {{ end }}
  </section>
  <section>
    <form
      action="/room"
      method="post"
      hx-post="/room"
      hx-target="body"
      hx-push-url="true"
    >
      <input type="submit" value="New Room" class="outline" />
    </form>
  </section>
{{ end }}
