{{ define "main" }}
  <section>
    {{ block "title" . }}
      <h3 id="title" style="display: inline;" hx-swap-oob="true">
        Welcome to Room
        {{ if .Room.Name }}
          {{ .Room.Name }}
        {{ else }}
          {{ .Room.Id }}
        {{ end }}
      </h3>
    {{ end }}
    <a
      style="cursor: pointer;"
      class="small"
      onclick="navigator.clipboard.writeText(window.location); alert('Copied room link to clipboard.');"
    >
      Copy room link
    </a>
  </section>

  <section>
    <details>
      <summary>Rename Room</summary>
      <form
        action="/room/{{ .Room.Id }}"
        method="patch"
        hx-patch="/room/{{ .Room.Id }}"
        hx-target="body"
      >
        <input type="text" name="name" placeholder="Room name" />
      </form>
    </details>
  </section>

  {{ block "participants" . }}
    <section
      id="participants"
      hx-get="/room/{{ .Room.Id }}/update"
      hx-trigger="every 2s"
      hx-swap-oob="true"
    >
      <h3>Participants</h3>
      <ul>
        <li>{{ .Room.Host.Name }} (Host)</li>
        {{ range .Room.Users }}
          <li>{{ .Name }}</li>
        {{ end }}
      </ul>
    </section>
  {{ end }}
{{ end }}

{{ define "updates-only" }}
  {{ template "title" . }}
  {{ template "participants" . }}
{{ end }}
