{{ define "main" }}
  <section>
    {{ if .Room.Id }}
      <h3 style="display: inline;">
        Welcome to Room
        {{ if .Room.Name }}
          {{ .Room.Name }}
        {{ else }}
          {{ .Room.Id }}
        {{ end }}
      </h3>
      <a
        style="cursor: pointer;"
        class="small"
        onclick="navigator.clipboard.writeText(window.location); alert('Copied room link to clipboard.');"
      >
        Copy room link
      </a>
    {{ end }}
  </section>

  <section>
    <details>
      <summary>Rename Room</summary>
      <form
        action="/room/{{ .Room.Id }}"
        method="patch"
        hx-patch="/room/{{ .Room.Id }}"
        hx-target="body"
      >
        <input type="text" name="name" placeholder="Room name" />
      </form>
    </details>
  </section>

  <section>
    <h3>Participants</h3>
    <ul>
      <li>{{ .Room.Host.Name }} (Host)</li>
      {{ range .Room.Users }}
        <li>{{ .Name }}</li>
      {{ end }}
    </ul>
  </section>
{{ end }}
