{{ define "main" }}
  <section>
    {{ block "title" . }}
      <h3 id="title" style="display: inline;" hx-swap-oob="true">
        Room
        {{ if .Room.Name }}
          {{ .Room.Name }}
        {{ else }}
          {{ .Room.Id }}
        {{ end }}
      </h3>
    {{ end }}
    <a
      style="cursor: pointer; display: inline-block;"
      onclick="navigator.clipboard.writeText(window.location)"
    >
      <small>Copy room link</small>
    </a>
  </section>

  <section>
    <details>
      <summary>Manage Room</summary>
      <form
        action="/room/{{ .Room.Id }}"
        method="patch"
        hx-patch="/room/{{ .Room.Id }}"
        hx-swap="none"
        hx-sync="#updater:replace"
        role="group"
      >
        <input type="text" name="name" placeholder="Room name" />
        <input type="submit" value="Submit" />
      </form>

      <form
        action="/room/{{ .Room.Id }}"
        method="patch"
        hx-patch="/room/{{ .Room.Id }}"
        hx-swap="none"
        hx-sync="#updater:replace"
        role="group"
      >
        <input type="text" name="discussed" placeholder="Discussed item" />
        <input type="submit" value="Submit" />
      </form>
    </details>
  </section>

  {{ block "item" . }}
    <section id="item" hx-swap-oob="true">
      <h3>Topic: {{ .Room.Item }}</h3>
    </section>
  {{ end }}

  {{ block "participants" . }}
    <section id="participants" hx-swap-oob="true">
      <h3>Participants:</h3>
      <ul>
        <li>{{ .Room.Host.Name }} (Host)</li>
        {{ range .Room.Users }}
          <li>{{ .Name }}</li>
        {{ end }}
      </ul>
    </section>
  {{ end }}


  <div
    id="updater"
    hx-get="/room/{{ .Room.Id }}/update"
    hx-trigger="every 5s"
    hx-swap="none"
  >
    🟢
  </div>
{{ end }}

{{ define "updates-only" }}
  {{ template "title" . }}
  {{ template "participants" . }}
  {{ template "item" . }}
{{ end }}
